@import url("https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&display=swap");
@import url("./format.css");

body {
    background-color: rgb(40, 40, 40);
    color: rgb(255, 255, 255);
    margin: 0;
    overflow: hidden;
}

* {
    font-family: "Chivo", "SfPro";
}

span[button] {
    display: flex;
    flex-direction: row;
    gap: 8px;

    background-color: rgba(205, 205, 205, 0.125);
    padding: 4px 16px;
    font-size: 16px !important;
    border-radius: 8px;

    cursor: pointer;
    transition: all 0.25s ease;
}

span[button]:hover {
    background-color: rgba(205, 205, 205, 0.25);
}

span[button]:has(img) {
    padding: 4px;
}

span[button]:has(img) > img {
    height: 2em;
    align-self: center;
    justify-self: center;
}

.Dropdown {
    display: flex;
    flex-direction: column;
    gap: 8px;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    position: absolute;
    width: 16em;
    height: fit-content;

    padding: 4px;

    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);

    border-radius: 8px;

    z-index: 4;

    transition: opacity 0.25s ease;
}

.Dropdown > div {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 4px 6px;
    border-radius: 6px;
    transition: background-color 0.25s ease;
    cursor: pointer;
}

.Dropdown > div:hover {
    background-color: rgba(205, 205, 205, 0.125);
}

.Dropdown > div > img {
    height: 22px;
    width: 22px;
}

.Dropdown > hr {
    width: 100%;
    border-color: rgba(205, 205, 205, 0.5);
    margin: 0
}

.Player {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.Player > img {
    height: 2em;
}

@font-face {
    font-family: "SfPro";
    src: url("../../fonts/SfPro.otf");
}