@import url("https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&display=swap");

body {
    background-color: rgb(40, 40, 40);
    color: rgb(255, 255, 255);
    margin: 0;
    overflow: hidden;
}

* {
    font-family: "Chivo", serif;
}

.Dropdown {
    display: flex;
    flex-direction: column;
    gap: 8px;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    position: absolute;
    width: 12em;
    height: fit-content;

    padding: 4px;

    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);

    border-radius: 8px;

    z-index: 4;

    transition: opacity 0.25s ease;
}

.Dropdown > div {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 4px 6px;
    border-radius: 6px;
    transition: background-color 0.25s ease;
    cursor: pointer;
}

.Dropdown > div:hover {
    background-color: rgba(205, 205, 205, 0.125);
}

.Dropdown > div > img {
    height: 22px;
    width: 22px;
}

.Dropdown > hr {
    width: 100%;
    border-color: rgba(205, 205, 205, 0.5);
    margin: 0
}